apiVersion: v1
kind: Namespace
metadata:
  name: local-path-storage
  labels:
    # Allow LocalPathProvisioner to mount Hostpaths
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/version: latest

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: local-path-config
  namespace: local-path-storage
data:
  config.json: |-
    {
      "nodePathMap":[
        {
          "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
          "paths":["/var/lib/local-path-provisioner"]
        }
      ]
    }

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-path-keep
  labels:
    app.kubernetes.io/instance: local-path-storage
provisioner: rancher.io/local-path
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer