kind: Kustomization

namespace: external-gateway

resources:
- gateway.yaml
- gateway-mtls.yaml
- policy.yaml
- echo-server.yaml
- routes.yaml
- network-policy.yaml


helmCharts:
- name: gateway-crds-helm
  releaseName: gateway-crds-helm
  repo: oci://docker.io/envoyproxy
  version: 1.5.4
  valuesInline:
    crds:
      gatewayApi:
        enabled: true
        channel: stable
      envoyGateway:
        enabled: true
- name: gateway-helm
  releaseName: gateway
  repo: oci://docker.io/envoyproxy
  version: 1.6.3
  includeCRDs: false
  namespace: external-gateway
  valuesInline:
    config:
      envoyGateway:
        extensionApis:
          enableEnvoyPatchPolicy: true
          enableBackend: true
