apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: ExternalKeycloak
metadata:
  name: sso-keycloak
  labels:
    app: sso-keycloak
spec:
  url: https://keycloak.buc.sh
  contextRoot: /
# status:
#   externalURL: http://sso-service:8080
#   internalURL: 'http://sso-service:8080'

---
apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: realm-buc
  labels:
    app: realm-buc
spec:
  instanceSelector:
    matchLabels:
      app: sso-keycloak
  realm:
    id: "buc"
    realm: "buc"
    displayName: "BUC HomeLab"
    enabled: true
    # authenticationConfig: []
    bruteForceProtected: true
    internationalizationEnabled: true
    defaultLocale: "de"
    supportedLocales:
    - de
    - en
    loginWithEmailAllowed: true
    failureFactor: 5
    waitIncrementSeconds: 30

    maxDeltaTimeSeconds: 43200
    maxFailureWaitSeconds: 43200
    # otpPolicyAlgorithm: 
    # optPolicyLookAheadWindow: 2
    # passwordPolicy: ""
    permanentLockout: false
    registrationAllowed: false
    rememberMe: true
    resetPasswordAllowed: true
      

# unmanagedAttributePolicy:
# bruteForceStrategy: linear

---
apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: client-immich
  labels:
    app: client-immich
spec:
  realmSelector:
    matchLabels:
      app: realm-buc
  client:
    clientId: immich
    name: Fotos
    description: OIDC client for Immich
    baseUrl: https://photos.buc.sh
    rootUrl: https://photos.buc.sh
    redirectUris:
    - "app.immich:///oauth-callback"
    - "https://photos.mtls.buc.sh/auth/login"
    - "https://photos.buc.sh/auth/login"
    webOrigins:
    - "app.immich:///oauth-callback"
    - "https://photos.mtls.buc.sh/auth/login"
    - "https://photos.buc.sh/auth/login"
    secret: TDCWNHYYtkZhZAMfGkmUwRBZbmZ4kZBC7

    protocol: openid-connect
    clientAuthenticatorType: client-secret
    fullScopeAllowed: true
    standardFlowEnabled: true
    defaultClientScopes:
    - basic
    - email
    - profile
    - roles
    protocolMappers:
    - name: "client-role_to_claim"
      protocol: "openid-connect"
      protocolMapper: "oidc-usermodel-client-role-mapper"
      config:
        introspection.token.claim: "true"
        multivalued: "false"
        userinfo.token.claim: "true"
        id.token.claim: "true"
        lightweight.claim: "true"
        access.token.claim: "true"
        claim.name: "immich_role"
        jsonType.label: "String"
        usermodel.clientRoleMapping.clientId: "immich"
  roles:
  - name: admin
  - name: user


---
apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: user-buc
  labels:
    app: user-buc
spec:
  realmSelector:
    matchLabels:
      app: realm-buc
  user:
    username: "buc"
    firstName: "Thomas"
    lastName: "Buchinger"
    email: "buc@buc.sh"
    enabled: True
    emailVerified: true
    # credentials:
    # - type: "password"
    #   value: "changeme"
    realmRoles:
    - offline_access
    clientRoles:
      account:
      - "manage-account"
      - "view-profile"
      realm-management:
      - "manage-users"
      immich:
      - admin

# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: credential-buc-buc-keycloak
# type: Opaque
# stringData:
#   username: buc
#   password: changeme


---
apiVersion: v1
kind: ConfigMap
metadata:
  name: set-credentials-script
data:
  update-credentials.sh: |-
    set -e
    kubectl get keycloakuser $USER_CR -o yaml > /tmp/user.yaml
    # kubectl patch -f /tmp/user.yaml --local --type json -p '[{"op":"add","path":"/spec/user/","value": {"credentials":[{"type":"password","value":"TESTME"}]} }]'
    kubectl patch -f /tmp/user.yaml --local --type merge -p '{spec: { credentials: [{ type: password, value: TESTME }]}}' -o yaml > /tmp/modified-user.yaml
    echo -e "\n\nNew Manifest: \n"
    cat /tmp/modified-user.yaml

    kubectl replace -f /tmp/modified-user.yaml
    echo username = $(kubectl get -f /tmp/modified-user.yaml -o jsonpath='{.spec.user.username}')
    echo ns = $(kubectl get -f /tmp/modified-user.yaml -o jsonpath='{.metadata.namespace}')
    kubectl delete secret credential-${REALM}-buc-keycloak || true
    
    # credential-REALM-USER-NS


---
apiVersion: batch/v1
kind: Job
metadata:
  name: set-user-credentials
spec:
  template:
    spec:
      containers:
      - name: kubectl
        image: bitnami/kubectl:latest
        command:
        - bash
        - /scripts/update-credentials.sh
        env:
        - name: USER_CR
          value: user-buc
        - name: PASSWORD
          value: changeme
        - name: REALM
          value: buc
        volumeMounts:
          - name: scripts
            mountPath: /scripts
      restartPolicy: Never
      serviceAccount: keycloak-realm-operator
      volumes:
      - name: scripts
        configMap:
          name: set-credentials-script
  backoffLimit: 1
  ttlSecondsAfterFinished: 60
