apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: ExternalKeycloak
metadata:
  name: sso-keycloak
  labels:
    app: sso-keycloak
spec:
  url: https://keycloak.buc.sh
  contextRoot: /
# status:
#   externalURL: http://sso-service:8080
#   internalURL: 'http://sso-service:8080'

---
apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: buc
  labels:
    app: sso-keycloak
spec:
  realm:
    id: "buc"
    realm: "BUC HomeLab"
  instanceSelector:
    matchLabels:
      app: sso-keycloak



