kind: Kustomization

namespace: matrix



helmCharts:
- name: matrix-stack
  repo:  oci://ghcr.io/element-hq/ess-helm/
  version: 26.1.0
  releaseName: matrix
  namespace: matrix
  valuesFile: values.yaml
  includeCRDs: true


# docker pull ghcr.io/element-hq/ess-helm/matrix-stack:26.1.1-sha030beafcbed55453fbf05215bed2228585dddc8c

resources:
- postgres.yaml
# - synapse.yaml
# - element.yaml
# - httproute.yaml

# configMapGenerator:
# - name: synapse-data
#   files:
#   - homeserver.yaml
#   - matrix.cloud.buc.sh.log.config
# - name: element-config
#   files:
#   - element-config.json



