kind: Kustomization

namespace: matrix

helmCharts:
- name: matrix-stack
  repo:  oci://ghcr.io/element-hq/ess-helm/
  version: 26.1.0
  releaseName: matrix
  namespace: matrix
  valuesFile: values.yaml
  includeCRDs: true

resources:
- postgres.yaml
- httproute.yaml

patches:
- target:
    kind: Deployment
    name: matrix-matrix-authentication-service
    group: apps
    namespace: matrix
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: matrix-matrix-authentication-service
      namespace: matrix
    spec:
      template:
        spec:
          containers:
          - name: matrix-authentication-service
            startupProbe:
              exec:
                command:
                - mas-cli
                - manage
                - register-user
                - --username=bot
                - --password=wwqrasdojointneworijokwmerlwnerlkewnr
                - --display-name=Bot
                - --email=bot@buc.sh
                - --no-admin
                - --yes
                - --ignore-password-complexity
