kind: Kustomization

namespace: matrix

helmCharts:
- name: matrix-stack
  repo:  oci://ghcr.io/element-hq/ess-helm/
  version: 26.2.0
  releaseName: matrix
  namespace: matrix
  valuesFile: values.yaml
  includeCRDs: true

resources:
- postgres.yaml
- httproute.yaml
- room-config.yaml

