kind: Kustomization

namespace: matrix

helmCharts:
- name: matrix-stack
  repo:  oci://ghcr.io/element-hq/ess-helm/
  version: 26.1.0
  releaseName: matrix
  namespace: matrix
  valuesFile: values.yaml
  includeCRDs: true

resources:
- postgres.yaml
- httproute.yaml
- room-config.yaml

patches:
- target:
    kind: Deployment
    name: matrix-matrix-authentication-service
    group: apps
    namespace: matrix
  patch: >-
    - {"op": "remove", "path": "/spec/template/spec/containers/0/startupProbe/httpGet"}
- target:
    kind: Deployment
    name: matrix-matrix-authentication-service
    group: apps
    namespace: matrix
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: matrix-matrix-authentication-service
      namespace: matrix
    spec:
      template:
        spec:
          containers:
          - name: matrix-authentication-service
            env:
            - name: BOT_USERNAME
              valueFrom:
                secretKeyRef:
                  key: BOT_USERNAME
                  name: eso-bot-credentials
            - name: BOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: BOT_PASSWORD
                  name: eso-bot-credentials
            startupProbe:
              exec:
                command:
                - mas-cli
                - manage
                - register-user
                - $BOT_USERNAME
                - --password
                - $BOT_PASSWORD
                - --display-name
                - Matrix Bot
                - --email
                - $BOT_USERNAME@buc.sh
                - --no-admin
                - --yes
                - --ignore-password-complexity
