
elementAdmin:
  enabled: true
  ingress:
    host: admin.matrix.cloud.buc.sh
elementWeb:
  enabled: true
  ingress:
    host: chat.cloud.buc.sh
matrixAuthenticationService:
  ingress:
    host: account.matrix.cloud.buc.sh
  postgres:
    host: matrix-database-rw
    port: 5432
    user: matrix
    database: matrix
    sslMode: prefer
    password:
      secret: matrix-database-app
      secretKey: password
  additional: {}

matrixRTC:
  enabled: true
  ingress:
    host: rtc.matrix.cloud.buc.sh
serverName: matrix.cloud.buc.sh
synapse:
  ingress:
    host: matrix.cloud.buc.sh
  postgres:
    host: matrix-database-rw
    port: 5432
    user: matrix
    database: matrix
    sslMode: prefer
    password:
      secret: matrix-database-app
      secretKey: password
  media:
    storage:
      storageClassName: local-path
  additional: {}
  appservices: []
  checkConfigHook:
    enabled: false


ingress:
  tlsEnabled: false

initSecrets:
  enabled: true
deploymentMarkers:
  enabled: true
haproxy:
  replicas: 1
postgres:
  enabled: false
wellKnownDelegation:
  enabled: true
  baseDomainRedirect:
    enabled: true
    url: ""
  additional:
    client: "{}"
    server: "{}"
    support: "{}"