
elementAdmin:
  enabled: true
  ingress:
    host: admin.matrix.cloud.buc.sh
elementWeb:
  enabled: true
  ingress:
    host: chat.cloud.buc.sh
matrixAuthenticationService:
  ingress:
    host: account.matrix.cloud.buc.sh
  postgres:
    host: matrix-postgres-service
    port: 5432
    user: matrix
    database: matrixmas
    sslMode: prefer
    password:
      secret: matrix-postgres-matrix
      secretKey: password
  additional: {}

matrixRTC:
  enabled: true
  ingress:
    host: rtc.matrix.cloud.buc.sh
serverName: matrix.cloud.buc.sh
synapse:
  ingress:
    host: matrix.cloud.buc.sh

  postgres:
    host: matrix-postgres-service
    port: 5432
    user: matrix
    database:
    sslMode: prefer
    password:
      secret: matrix
      secretKey: password
  media:
    storage:
      storageClassName: local-path
  additional: {}
  appservices: []



ingress:
  tlsEnabled: false

initSecrets:
  enabled: true
deploymentMarkers:
  enabled: true
haproxy:
  replicas: 1
postgres:
  enabled: false
wellKnownDelegation:
  enabled: true
  baseDomainRedirect:
    enabled: true
    url: ""
  additional:
    client: "{}"
    server: "{}"
    support: "{}"