
elementAdmin:
  ingress:
    host: admin.cloud.buc.sh
elementWeb:
  ingress:
    host: chat.cloud.buc.sh
matrixAuthenticationService:
  ingress:
    host: account.cloud.buc.sh
matrixRTC:
  ingress:
    host: mrtc.cloud.buc.sh
serverName: cloud.buc.sh
synapse:
  ingress:
    host: matrix.cloud.buc.sh