namespace: immich

resources:
- immich-app.yaml
- postgres.yaml

helmCharts:
- name: immich
  namespace: immich
  repo: oci://ghcr.io/immich-app/immich-charts/
  releaseName: immich
  version: 0.10.3
  additionalValuesFiles:
  - values.yaml