



immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-library-nfs
  # https://immich.app/docs/install/config-file/
  configuration:
    storageTemplate:
      enabled: true
      template: "{{album}}/{{y}}-{{MM}}/{{filename}}"
    oauth:
      issuerUrl: https://dex.buc.sh
      clientId: login
      clientSecret: notaSecretDexisLocal
      enabled: true
      buttonText: Login with dex.buc.sh
      autoLaunch: false
    newVersionCheck:
      enabled: true
    passwordLogin:
      enabled: false
    server:
      externalDomain: "https://photos.mtls.buc.sh"
      loginPageMessage: "BUC Photos"


machine-learning:
  enabled: true
  persistence:
    cache:
      enabled: true
      size: 10Gi
      accessMode: ReadWriteOnce
      storageClass: "local-path"
controllers:
  main:
    containers:
      main:
        image:
          tag: v2.3.1
valkey:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/valkey/valkey
            tag: 9.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
            pullPolicy: IfNotPresent
  persistence:
    data:
      enabled: false
